<section class="flights-show">
  <div class="index-card d-flex flex-column justify-content-center align-items-center">
    <div class="flight-info text-center">
      <h1 class="flight-info-route"><%= @flight.origin.code %> - <%= @flight.destiny.code %></h1>
      <h2 class="flight-info-time"><%= @flight.departure_time.strftime("%H:%M") %> - <%= @flight.arrival_time.strftime("%H:%M") %>
        <% if @flight.departure_time.day != @flight.arrival_time.day %>
          <span class="flight-plus-one"> <sup>+1</sup></span>
        <% end %></h2>
      <p class="flight-info-duration">Duração: <%= distance_of_time_in_words(@flight.departure_time, @flight.arrival_time) %></p>
    </div>
    <div class="flight-stops">
       <div class="timeline">
          <div class="container">
            <span class="left">
              <h2>2018</h2>
            </span>
            <span class="right">
              <p>123456</p>
            </span>
          </div>
        <div class="container">
          <span class="left">
            <h2>2017</h2>
          </span>
          <span class="right">
            <p>123456</p>
          </span>
        </div>
        <div class="container">
          <span class="left">
            <h2>2016</h2>
          </span>
          <span class="right">
            <p>123456</p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="index-card reverse-style d-flex flex-column justify-content-center align-items-center">
    <h1>PAGAMENTO</h1>
  </div>
</section>
