  <nav id="sidebar">
    <div class="card">
      <div class="sidebar-photo d-flex justify-content-center align-items-center p-4">
        <% if user_signed_in? %>
          <%= cl_image_tag(current_user.photo, class: 'avatar-large') %>
        <% else %>
          <%= cl_image_tag('profile_placeholder.png', class: 'avatar-large') %>
        <% end %>
      </div>
      <div class="card-body">
        <% if user_signed_in? %>
        <h5 class="card-title"><%= current_user.name %></h5>
        <% else %>
          <%= link_to new_user_session_path do%>
            <h5 class="card-title">Entrar</h5>
          <% end %>
        <% end %>
      </div>
      <ul class="list-group list-group-flush">
        <%= link_to tickets_path do %>
          <li class="list-group-item"><i class="fas fa-plane"></i> <span class="sidebar-options">Meus vôos</span></li>
        <% end %>
        <li class="list-group-item"><i class="fas fa-search"></i> <span class="sidebar-options">Procurar vôo</span></li>
        <li class="list-group-item"><i class="fas fa-credit-card"></i> <span class="sidebar-options">Pagamento</span></li>
      </ul>
      <div class="card-body">
        <% if user_signed_in? %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i> Logout</a>
          <% end %>
        <% end %>
        <a href="#" class="card-link"><i class="fas fa-question-circle sidebar-options"></i> Ajuda</a>
      </div>
    </div>
  </nav>
