<h1>Order</h1>
<ul>
  <li>Seats bought: <%= @order.seat %></li>
  <li>Flight information: <%= %></li>
  <li>Status: <%= @order.state %></li>
  <li>Item: <%= @order.flight_sku %></li>
  <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
<ul>
<%= form_tag new_flight_order_payment_path(@order) do %>
  <%= hidden_field_tag 'order_id', @order.id %>
  <%= submit_tag 'Pay', class: 'btn btn-primary' %>
<% end %>
