
  <div class="home-header">
    <div id="carouselHomeCard" class="carousel slide" data-ride="carousel">
      <div class="home-card">
        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="10000">
              <div class="card-body flex-column">
                <div class="card-icon">
                  <%= image_tag('airplane.svg') %>
                </div>
                <div class="card-text">
                  <h1 id="greeting" class="text-center"></h1>
                  <% if current_user.name %>
                    <h1 class="card-special-text"><%= current_user.name %>!</h1>
                  <% else %>
                    <h1 class="card-special-text"><%= current_user.email %>!</h1>
                  <% end %>
                </div>
              </div>
            </div>
          <div class="carousel-item" data-interval="100000">
            <div class="card-body flex-column">
              <div class="card-icon">
                <%= image_tag('no-flights.svg') %>
              </div>
              <div class="card-text">
                <h1>You dont have any flights coming.</h1>
                <div class="btn btn-header">Register now!</div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-interval="100000">
            <div class="card-body">
              <div class="card-icon">
                <%= image_tag('traveller.svg') %>
              </div>
              <div class="card-text">
                <h1 class="text-center">Ative suas notificações para utilizar 100% das nossas ferramentas!</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselHomeCard" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselHomeCard" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
