<section class="flight-index">
  <div class="container">
    <h1 class="text-center">MY FLIGHTS</h1>
      <% @tickets.each do |ticket| %>
        <div class="index-card d-flex w-100 flex-row justify-content-center align-items-center">
          <div class="featured d-flex flex-column justify-content-center align-items-center">
            <h2 class="text-center"><%= ticket.departure_time.strftime("%d/%m") %></h2>
              <% if !ticket.flight_id? %>
                <%= link_to edit_ticket_path(ticket) do %>
                  <i class="fas fa-edit fa-lg new-flight"></i>
                <% end %>
              <% end %>
              <%= link_to "https://www.voegol.com.br/pt" do %>
                <i class="fas fa-check fa-lg new-flight"></i>
              <% end %>
          </div>
          <div class="card-body d-flex flex-column">
            <div class="d-flex flex-row align-items-center justify-content-between">
              <h5><%= ticket.origin.code %> <i class="fas fa-plane fa-xs"></i> <%= ticket.destination.code %></h5>
              <h5 class="mt-n1"><%= ticket.departure_time.strftime("%H:%M") %> - <%= ticket.arrival_time.strftime("%H:%M") %>
                <% if ticket.departure_time.day != ticket.arrival_time.day %>
                  <span class="flight-plus-one"> <sup>+1</sup></span>
                <% end %>
              </h5>
              <%= link_to ticket_path(ticket), method: :delete, data: { confirm: "Are you sure?" }, class:"mt-n4" do %>
                <i class="fas fa-plus delete new-flight-delete"></i>
              <% end %>
            </div>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <p class="text-center">E-ticket: <%= ticket.number %></p>
            </div>
            <div>
              <p>Company: <%= ticket.company.name %></p>
              <p>Duration: <%= distance_of_time_in_words(ticket.departure_time, ticket.arrival_time) %></p>
              <div class="d-flex flex-row align-items-center justify-content-end mt-n5">
                <%= link_to '#/' do %>
                  <i class="far fa-clock fa-lg alert"></i>
                <% end %>
                <%= link_to '#/' , class:'cancel-flight', data: { info:ticket.json, url: flights_url(ticket: ticket) } do %>
                  <i class="fas fa-calendar-times fa-lg alert"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to new_ticket_path do %>
          <div class="new-flight">
            <i class="fas fa-plus"></i> Add a New Flight
          </div>
        <% end %>
      </div>
    </div>
</section>

